<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_practice_18">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_Practice_18">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNewsActivity"
            android:exported="false" />
        <activity
            android:name=".EditNewsActivity"
            android:exported="false" />
        <activity
            android:name=".AuthorizationActivity"
            android:exported="false"
            android:noHistory="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:noHistory="false" />
        <activity
            android:name=".AdminNewsActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".NewsInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ReaderNewsActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
    </application>

</manifest>